/* .gallery-photo {
    border-radius: 8px;
    height: 10%;
} */
img {
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 250px;
    }
    
img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}