body {
    background-image: url("../assets/austin-background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    margin: auto;
    width: 70%;
}

h1 {
    font-family: Papyrus;
    color: green;
}

h2,
h3 {
    font-family: helvetica;
    color: white;
}

li {
    display: inline;
    padding: 3em;
}

p {
    border: 1px solid black;
    padding: 3em;
    background-color: orange;
}

footer {
    position: flexbox;
    bottom: 0;
    background-color: pink;
    text-align: center;
    width: 100%;
}

#footer-text {
    color: rebeccapurple;
    font-weight: bold;
    border: none;
    padding: 0em;
}