body {
    text-align: center;
}

h1 {
    font-family: Papyrus;
    color: green;
}

li {
    display: inline;
    padding: 5em;
}

p {
    border: 1px solid black;
    padding: 5em;
}

footer {
    position: absolute;
    bottom: 0;
    background-color: pink;
    text-align: center;
    width: 100%;
}

#footer-text {
    color: rebeccapurple;
    font-weight: bold;
    border: none;
    padding: 0em;
}